.thumbnail-sm
{
	width: 20px;
	height: 20px;
}
.username
{
	font-style: italic;
}
.msg-thumbnail
{
	height: 30px;
	width: 30px; 
	display: inline-block; 
	margin-right: 20px;

}
.profile-avatar-header
{
	border-radius:50%;
	height: 40px; 
	width: 40px; 
  margin-top: -10px; 
}

.entries_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.entry-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 100%;
    padding-top: 8px;
}

span.glyphicon {
    font-size: 1.6em;
    padding-top: 17px;
    margin-left: -15px;
}
@media screen and (max-width: 768px)
{
    span.glyphicon
    {
        margin-left: 20px;
    }
}