.thumbnail-sm
{
	width: 20px;
	height: 20px;
}
.username
{
	font-style: italic;
}
.msg-thumbnail
{
	height: 30px;
	width: 30px; 
	display: inline-block; 
	margin-right: 20px;

}
.profile-avatar-header
{
	border-radius:50%;
	height: 40px; 
	width: 40px; 
  margin-top: -10px; 
}

.entries_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.entry {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.entry-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 100%;
    padding-top: 8px;
}

